
.theme-container {
  min-height: 100vh;
  max-width: 96.667rem;padding-inline: 5.333rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7.1rem;

  .container {
    display: flex;
    gap: 8.25rem;
    flex-direction: column;
    justify-content: center;

    .theme-course-style {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 4.083rem;
    }

    .theme-course-wrapper {
      display: flex;
      align-items: center;
      gap: 2rem;
      .subject-background {
        background: #F6E7FF;
        border-radius: 0.667rem;
        padding: 0.667rem;
      }
      .subject-name {
        font-size: var(--heading-S-font-size);
        font-weight: var(--heading-M);
        &.theme-subject-dark {
          color: var(--purewhite);
        }
        &.theme-subject-light {
          color: var(--darknavy);
        }
      }
    }
    .theme-Bg-Img {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .dark-pattern {
      display: block;
    }

    .light-pattern {
      display: none;
    }

    .lights {
      display: flex;
      justify-content: right;
      gap: 1.33rem;

      .img-light {
        display: none
      }

      .block {
        display: block;
      }

      .none {
        display: none;
      }

      .light-toggle {
        border-radius: 999px;
        background: var(--purple);
        padding: 4px;
        display: flex;
        width: 48px;
        height: 28px;
        align-items: center;
        justify-content: center;

        .circle {
          border-radius: 999px;
          background: var(--purewhite);
          margin-right: auto;
          width: 20px;
          height: 20px;
        }

        .active {
          margin-right: unset;
          margin-left: auto;
        }
      }
    }

    .contents {
      display: flex;
      gap: 2rem;
      flex-wrap: wrap;
    }

    .quizzes-questions {flex: 1;}
    .questions {
      display: flex;
      flex-direction: column;
      gap: 2.25rem;

      .question-title {
        font-style: italic;
        font-weight: var(--heading-regular);

        &.question-title-light {
          color: var(--greynavy);
        }

        &.question-title-dark {
          color: var(--lightbluish);
        }
      }

      .question {
        font-size: var(--heading-M-font-size);
        font-weight: var(--heading-M);

        &.question-dark {
          color: var(--purewhite);
        }

        &.question-light {
          color: var(--darknavy);
        }
      }
    }
    .progress-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 20px 0;
      width: 100%;
      height: 8px;
      background-color: #ddd;
      border-radius: 4px;
      overflow: hidden;
      position: relative;
    }
    .progress-segment {
      flex: 1;
      height: 100%;
      background-color: var(--purewhite); /* Default color */
      transition: background-color 0.3s ease;

      &.active {
        background-color: var(--purple); /* Highlight color */
      }
    }
    .progress-segment-dark {
      background: none;
      background: var(--navy);
    }
    .quizess-choices {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      flex: 1;
    }
    .cta-choices {
      cursor: pointer;
      display: flex;
      align-items: center;
      border-radius: 24px;
      padding: 1.5rem;
      &.cta-choice-bg-light{
        background: var(--purewhite);
      }
      &.cta-choice-bg-dark{
        background: var(--navy);
      }
      &:active {
        border: 1px solid var(--purple);
        font-weight: 700;
      }
      &:hover {
        p {
          background: #F6E7FF;
          color: var(--purple);
        }
      }
      &.selected-choice {
        border: 3px solid var(--purple);
      }
      &.incorrect-answer{
        border: 3px solid red;
        .selected-letter{
          background: #EE5454;
          color: var(--purewhite);
        }
        .not-selected{
          background: var(--purple);
        }
      }

      &.correct-answer{
        border: 3px solid #26D782;
        .selected-letter{
          background: #26D782;
          color: var(--purewhite);
        }
        .not-selected{
          background: #26D782;
          color: var(--purewhite);
        }
      }
    }
    .options-container {
    display: flex;
    align-items: center;
    gap: 2.667rem;
    .cta-letters {
      font-size: var(--heading-S-font-size);
      font-weight: var(--heading-M);
      color: var(--greynavy);
      display: inline;
      background: var(--lightgrey);
      border-radius: 0.667rem;
      padding: 0.667rem;
    }
    .selected-letter{
      background: var(--purple);
      color: var(--purewhite);
    }
    .options {
      font-size: var(--heading-S-font-size);
      font-weight: var(--heading-M);
    }

    .options-dark {
      color: var(--purewhite);
    }
  }
    .incorrect-icon, .correct-icon{
    margin-left: auto;
    max-width: 3.33rem;
    max-height: 3.33rem;
  }
    .theme-button {
    cursor: pointer;
    border-radius: 2rem;
    background: var(--purple);
    padding: 2.667rem;
    font-size: var(--heading-S-font-size);
    font-weight: var(--heading-M);
    color: var(--purewhite);
    text-transform: capitalize;
    box-shadow: 0px 16px 40px 0px rgba(143, 160, 193, 0.14);
    &:hover {
    background: var(--purple-50);
    }
  }
    .error-message {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6667rem;
  }
    .error-icon{
      max-width: 3.33rem;
      max-height: 3.33rem;
    }
    .error{
      color: var(--red);
      font-weight: var(--heading-regular);
    }
  }
}
@media screen and (max-width: 64rem) {
  .theme-container{
    .container {
      display: unset;
      padding-inline: 5.333rem;

      .contents {
        flex-direction: column;
      }

      .theme-course-wrapper {
        gap: .5rem;
      }
    }
  }
}
@media screen and (max-width: 45.833rem) {
  .theme-container{
   padding-inline: unset;
    .container {
      display: unset;
      padding-inline: 2rem;
    }
  }
}
@media screen and (max-width: 31.25rem) {
.theme-container{
  .container{
    display: flex;gap: 2.667rem;
    .theme-course-style{
      padding-bottom: 0;
    }
    .text{
      font-size: var(--heading-M-font-size);
    }
    .bd-text{
      padding-top: 1.33rem;
    }
    .theme-course-wrapper{
      .subject-name{
        font-size: inherit;
      }
    }
    .progress-bar{
      margin: 0;
    }
    .questions{
      gap: 1rem;
      .question{
        font-size: inherit;
      }
    }
    .options-container{
      gap: 1.333rem;
    }

    .lights{
      gap: 0;
    }
    .theme-button{
      font-size: inherit;
      padding: 1rem;
      border-radius: 1rem;
    }
  }
}
}
